<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/App/boot/require.config.js"></script>
    <script data-main="/app/boot/startup.js" src="~/scripts/require/require.js"></script>
</head>
<body>
    <div class="wrapper container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <footer></footer>
</body>
</html>
