<div data-bind="visible: isInitialized" style="display: none;">
    <ol class="breadcrumb">
        <li>CRM</li>
        <li class="active">Календарь</li>
    </ol>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title" id="calender-current-date"><span class="fw-semi-bold"></span></h1>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-md-3 col-lg-4">
            <h4>Draggable <span class="fw-semi-bold">Events</span></h4>
            <p>Just drap and drop events from there directly into the calendar.</p>
            <div class="calendar-external-events mb-lg" id='external-events'>
                <div class='external-event bg-gray text-white' data-event-class="bg-gray text-white">Buy this template</div>
                <div class='external-event bg-primary text-white' data-event-class="bg-primary text-white">Study some Node</div>
                <div class='external-event bg-info text-white' data-event-class="bg-info text-white">Make a tea</div>
                <div class='external-event bg-success text-white' data-event-class="bg-success text-white">Go to school</div>
                <div class='external-event bg-warning text-white' data-event-class="bg-warning text-white">Open windows</div>
            </div>
        </div>-->
        <div class="col-md-12 col-lg-12">
            <section class="widget">
                <div class="widget-body">
                    <div class="calendar-controls">
                        <div class="btn-group ">
                            <button class="btn btn-default" id="calender-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="btn btn-default" id="calender-next"><i class="fa fa-angle-right"></i></button>
                        </div>
                        <div id="calendar-switcher" class="btn-group pull-right" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="view" value="month"> Месяц
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="view" value="agendaWeek"> Неделя
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="view" value="agendaDay"> День
                            </label>
                        </div>
                    </div>
                    <div id="calendar" class="calendar"></div>
                </div>
            </section>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title fw-bold mt" id="editModalLabel">Редактирование события</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body…</p>
                        </div>
                        <div class="modal-footer no-border">
                            <button type="button" class="btn btn-danger" id="deleteEvent" data-dismiss="modal">Удалить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ок</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title fw-bold mt" id="createModalLabel">Новое событие</h4>
                            <p class="fs-mini text-muted mt-sm">
                                Введите описание
                            </p>
                        </div>
                        <div class="modal-body bg-gray-lighter">
                            <div class="form-group">
                                <input type="text" id="event-name" class="form-control input-no-border" placeholder="Описание">
                            </div>
                        </div>
                        <div class="modal-footer no-border">
                            <button data-dismiss="modal" class="btn btn-default">Отмена</button>
                            <button id="createEvent" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Сохранение" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>