<div id="delete-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>Удаление</h2>
            </div>
            <div class="modal-body">
                <div data-bind="if: selectedCampaign() != null">
                    Вы действительно хотите удалить рекламню кампанию клиента
                    <span data-bind="text: selectedCampaign().clientName()"></span>?
                </div>
            </div>
            <div class="modal-footer">
                <div class="row mrgtop12">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Отмена</button>
                        <button type="submit" class="btn btn-danger" data-bind="click: deleteCampaign"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>