<nav class="page-controls navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a class="hidden-sm hidden-xs link" id="nav-state-toggle" title="Скрывать панель" data-placement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <a class="visible-sm visible-xs link" id="nav-collapse-toggle" title="Показать/скрыть панель" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-xs"></i>
                    </a>
                </li>
                @*<li class="ml-sm mr-n-xs hidden-xs"><a href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
                <li class="ml-n-xs hidden-xs"><a href="#"><i class="fa fa-times fa-lg"></i></a></li>*@
            </ul>
            <!-- xs & sm screen logo -->
            @*<a class="navbar-brand visible-xs" href="#">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                sing
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>*@
        </div>

        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" type="text" placeholder="Поиск">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">              
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="#profile"><i class="glyphicon glyphicon-user"></i> &nbsp; Профиль</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Почта &nbsp;&nbsp;<span class="badge bg-danger animated bounceIn">9</span></a></li>
                    <li class="divider"></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();"><i class="fa fa-sign-out"></i> &nbsp; Выйти</a></li>
                    }
                    </ul>
                </li>

                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                }
            </ul>
        </div>
    </div>
</nav>
