<nav id="sidebar" class="sidebar" role="navigation">
    <div class="js-sidebar-content">       
        @*<header class="logo hidden-xs">
            <a href="#">sing</a>
        </header>*@
        <div class="sidebar-status visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="@Url.Content("~/Content/images/avatar.jpg")" alt="...">
                </span>
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                should be used with bg-* and text-* classes for colors -->
                @*<span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
                &nbsp;
                Philip <strong>Smith</strong>
                <b class="caret"></b>*@
                <strong>@ViewBag.UserName</strong>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <div class="sidebar-avatar hidden-xs">
            @*<a href="#" >*@
                <span class="thumb-sm avatar avatar-lg center">
                    <img class="img-circle" src="@Url.Content("~/Content/images/avatar.jpg")" alt="...">
                </span>
                <div class="mrgtop12">
                    <strong>@ViewBag.UserName</strong>
                </div>
            @*</a>*@
        </div>
        <ul class="sidebar-nav">
            <li>
                <a href="#sidebar-management" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    Управление
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-management" class="collapse in">
                    <li><a href="#clients">Клиенты</a></li>
                    <li><a href="#campaigns">Рекламные кампании</a></li>
                    <li><a href="#addresses">Рекламные поверхности</a></li>
                </ul>
            </li>
            <li>
                <a href="#sidebar-dictionary" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-book"></i>
                    </span>
                    Справочники
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-dictionary" class="collapse in">
                    <li><a href="#activities">Виды деятельности</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#analytics" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-stats"></i>
                    </span>
                    Аналитика
                </a>
            </li>
        </ul>

        <h5 class="sidebar-nav-title">Метки <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
        <ul class="sidebar-labels">
            <li>
                <a href="#">
                    <i class="fa fa-circle text-warning mr-xs"></i>
                    <span class="label-name">Основное</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-gray mr-xs"></i>
                    <span class="label-name">Дополнительно</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-danger mr-xs"></i>
                    <span class="label-name">Важно</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
