<div id="change-password-popup" class="modal fade" tabindex="-1" role="dialog" data-bind="if: selectedClient() != null">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>Изменение пароля клиента <br /><small data-bind="text : selectedClient().companyName()">Клиент</small></h2>
            </div>
            <div class="modal-body">
                <div>
                    <form id="change-password-form" class="form-horizontal mrgtop12" role="form" data-bind="with: changePasswordViewModel">
                        <fieldset>
                            <div class="form-group">
                                <label for="password" class="col-sm-4 control-label">Новый пароль</label>
                                <div class="col-sm-8">
                                    <input type="password" id="password" class="form-control required" data-bind="value: password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-4 control-label">Подтверждение пароля</label>
                                <div class="col-sm-8">
                                    <input type="password" id="confirmPassword" class="form-control required" data-bind="value: confirmPassword">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row mrgtop12">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Отмена</button>
                        <button type="submit" class="btn btn-success" data-bind="click: changePassword"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>