<!-- ko with: createAddress -->
<ol class="breadcrumb">
    <li>ВЫ ЗДЕСЬ</li>
    <li>Рекламные поверхности</li>
    <li class="active">Добавление нового адреса</li>
</ol>
<h1 class="page-title">Добавление нового адреса</h1>
<section class="widget">
    <div class="widget-body">
        <div class="row address mrgtop12">
            <div class="col-md-5 col-md-offset-1">
                <form class="form-horizontal js-form-address">
                    <fieldset>
                        <legend>Основная информация</legend>
                        <div class="form-group field hidden">
                            <label for="region" class="col-sm-4 control-label">Регион</label>
                            <div class="col-sm-8">
                                <input type="text" name="region" id="region" class="form-control">
                            </div>
                        </div>
                        <div class="form-group field hidden">
                            <label for="district" class="col-sm-4 control-label">Район</label>
                            <div class="col-sm-8">
                                <input type="text" name="district" id="district" class="form-control">
                            </div>
                        </div>
                        <div class="form-group field hidden">
                            <label for="city" class="col-sm-4 control-label">Город</label>
                            <div class="col-sm-8">
                                <input type="text" name="city" id="city" class="form-control">
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="managementCompanyName" class="col-sm-4 control-label">Управляющая компания</label>
                            <div class="col-sm-8">
                                <textarea name="managementCompanyName" id="managementCompanyName" class="form-control" data-bind="value: managementCompanyName"></textarea>
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="microdistrictId" class="col-sm-4 control-label">Микрорайон</label>
                            <div class="col-sm-8">
                                <select id="microdistrictId" class="form-control" title="" data-size="12" data-bind="selectPicker: microdistrictId, selectPickerOptions: { optionsArray : microdistricts }, optionsValue: 'microdistrictId', optionsText: 'microdistrictName', optionsCaption : ''"></select>
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="street" class="col-sm-4 control-label">Улица</label>
                            <div class="col-sm-8">
                                <input type="text" name="street" id="street" class="form-control" data-bind="value: streetName">
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="building" class="col-sm-4 control-label">Номер дома</label>
                            <div class="col-sm-8">
                                <input type="text" name="building" id="building" class="form-control" data-bind="value: buildingName">
                            </div>
                        </div>
                        <div class="form-group field">
                            <label for="contractDate" class="col-sm-4 control-label">Дата договора</label>
                            <div class="col-sm-8">
                                <div class='input-group date'>
                                    <input type='text' id='contractDate' class="form-control" data-bind="datepicker: contractDate, datepickerOptions : { locale: 'ru', format: 'DD.MM.YYYY' }" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Информация о доме <i class="fa fa-building-o" aria-hidden="true"></i></legend>
                        <div class="form-group field required">
                            <label for="numberOfEntrances" class="col-sm-4 control-label">Подъездов</label>
                            <div class="col-sm-8">
                                <input type="text" name="numberOfEntrances" id="numberOfEntrances" class="form-control" data-bind="value : numberOfEntrances, numeric: numberOfEntrances">
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="numberOfSurfaces" class="col-sm-4 control-label">Поверхностей</label>
                            <div class="col-sm-8">
                                <input type="text" name="numberOfSurfaces" id="numberOfSurfaces" class="form-control" data-bind="value : numberOfSurfaces, numeric: numberOfSurfaces">
                            </div>
                        </div>
                        <div class="form-group field required">
                            <label for="numberOfFloors" class="col-sm-4 control-label">Этажей</label>
                            <div class="col-sm-8">
                                <input type="text" name="numberOfFloors" id="numberOfFloors" class="form-control" data-bind="value : numberOfFloors, numeric: numberOfFloors">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <div id="map" class="panel-map" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-danger pull-right" data-bind="click: submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Сохранить</button>
            </div>
            <div class="col-md-6">
                <div class="addition mrgtop12">
                    <div class="block">
                        <p class="title">Текстовое представление адреса</p>
                        <p id="address" class="value"></p>
                    </div>
                    @*<div class="block">
                        <p class="title">Выбранный объект:</p>
                        <ul class="js-log">
                            <li data-prop="id" style="display: none;"><span class="name">Код:</span> <span class="value"></span></li>
                            <li data-prop="zip" style="display: none;"><span class="name">Почтовый индекс:</span> <span class="value"></span></li>
                            <li data-prop="name" style="display: none;"><span class="name">Название:</span> <span class="value"></span></li>
                            <li data-prop="type" style="display: none;"><span class="name">Подпись:</span> <span class="value"></span></li>
                            <li data-prop="typeShort" style="display: none;"><span class="name">Подпись коротко:</span> <span class="value"></span></li>
                            <li data-prop="contentType" style="display: none;">
                                <span class="name">Тип объекта:</span> <span class="value"></span>
                            </li>
                            <li data-prop="okato" style="display: none;">
                                <span class="name">ОКАТО:</span> <span class="value"></span>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>         
        </div>
    </div>
</section>
<!-- /ko -->

