<div id="upload-popup" class="white-popup mfp-hide">
    <div class="popup-wrap">
        <div class="row">
            <h2>Загрузка отчёта<br/><small data-bind="text : currentAddressName">Адрес</small> <i class="fa fa-building-o" aria-hidden="true"></i></h2>
            <hr/>
            <form class="form-horizontal file-upload">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Изображение
                        </label>
                        <div class="col-sm-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img data-src="holder.js/100%x100%">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new"><i class="fa fa-check" aria-hidden="true"></i> Выбрать</span>
                                        <span class="fileinput-exists"><i class="fa fa-pencil" aria-hidden="true"></i> Изменить</span>
                                        
                                        <input type="file" class="fileinput-hidden">
                                    </span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times" aria-hidden="true"></i> Отмена</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group field">
                        <label for="comment" class="col-sm-4 control-label">Комментарий</label>
                        <div class="col-sm-8">
                            <textarea name="comment" id="comment" class="form-control" data-bind="value: comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group field required">
                        <label for="reportDate" class="col-sm-4 control-label">Дата отчёта</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <input type="text" id="reportDate" class="form-control" data-bind="datepicker: reportDate, datepickerOptions : { locale: 'ru', format: 'DD.MM.YYYY' }">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row mrgtop12">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success pull-right" data-bind="click: uploadFile"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Сохранить</button>
                    </div>
                </div>
                @*<fieldset>
                    <legend>Предпросмотр</legend>
                </fieldset>*@
            </form>
        </div>
    </div>
</div>

