<div id="upload-popup" class="modal fade" tabindex="-1" role="dialog" data-bind="if: selectedAddress() != null">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>Загрузка отчётов<br /><small data-bind="text : selectedAddress().streetName() + ' ' + selectedAddress().buildingNumber()">Адрес</small> <i class="fa fa-building-o" aria-hidden="true"></i></h2>
            </div>
            <div class="modal-body">
                <div class="popup-wrap">
                    <div class="row">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div id="imageDropzone" class="dropzone">
                                            <div class="dz-message">
                                                <strong>Для загрузки перетащите файлы сюда.</strong><br>
                                                <span class="note">(или просто нажмите на эту область)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group field">
                                    <div class="col-sm-12">
                                        <textarea name="comment" id="comment" class="form-control" placeholder="Комментарий" data-bind="value: comment"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row mrgtop12">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success pull-right" data-bind="disable: loadingFiles, click: uploadFiles"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Сохранить</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->