<ol class="breadcrumb">
    <li>CRM</li>
    <li>Клиенты</li>
    <li class="active">Редактирование информации о клиенте</li>
</ol>
<h1 class="page-title">Редактирование информации о клиенте</h1>
<section class="widget">
    <div class="widget-body">
        <form class="form-horizontal mrgtop24" role="form">
            <fieldset>
                <div class="form-group required">
                    <label for="companyName" class="col-sm-4 control-label">Название компании</label>
                    <div class="col-sm-6">
                        <input type="text" id="companyName" class="form-control" data-bind="value: companyName">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="activityTypeId" class="col-sm-4 control-label">Род деятельности</label>
                    <div class="col-sm-6">
                        <select id="activityTypeId" class="form-control" data-size="12" data-live-search="true" data-bind="selectPicker: activityTypeId, selectPickerOptions: { optionsArray : activityTypes, initValue : activityTypeInitialId, initialized : activityTypeInitialized }, optionsValue: 'activityTypeId', optionsText: 'activityTypeName', optionsAfterRender: setActivityTypeOptionContent"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="responsiblePersonLastName" class="col-sm-4 control-label">Ответственное лицо</label>
                    <div class="col-sm-2">
                        <input type="text" id="responsiblePersonLastName" class="form-control required" data-bind="value: responsiblePersonLastName" placeholder="Фамилия">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="responsiblePersonFirstName" class="form-control required" data-bind="value: responsiblePersonFirstName" placeholder="Имя">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="responsiblePersonMiddleName" class="form-control" data-bind="value: responsiblePersonMiddleName" placeholder="Отчество">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-4 control-label">Номер телефона</label>
                    <div class="col-sm-3">
                        <input type="text" id="phoneNumber" class="form-control required" data-bind="value: phoneNumber" placeholder="Основной">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="additionalPhoneNumber" class="form-control" data-bind="value: additionalPhoneNumber" placeholder="Дополнительный">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="email" class="col-sm-4 control-label">Адрес электронной почты</label>
                    <div class="col-sm-6">
                        <input type="email" id="email" class="form-control" data-bind="value: email">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="userName" class="col-sm-4 control-label">Логин</label>
                    <div class="col-sm-6">
                        <input type="text" id="userName" class="form-control" data-bind="value: userName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="col-sm-4 control-label">Комментарий</label>
                    <div class="col-sm-6">
                        <textarea id="comment" class="form-control" data-bind="value: comment"></textarea>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-7">
                        <div class="btn-group btn-footer" role="group">
                            <button type="submit" id="editClient" class="btn btn-success" data-bind="click: submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Сохранение">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
