<!-- ko with: reportsList -->
<ol class="breadcrumb">
    <li>ВЫ ЗДЕСЬ</li>
    <li class="active">Отчёты</li>
</ol>
<div>
    <h1 class="page-title">
        Фотоотчёты<br />
        <small data-bind="visible: addressId, text : 'Адрес: г.Краснодар ' + addressName()"></small>
        <small data-bind="visible: campaignId, text : 'Клиент: ' + clientName()"></small>
    </h1>
</div>

<div class="clearfix mb-lg" data-bind="visible: addressId">
    <div class="btn-group m-b-20 js-filter-options">
        <span class="btn btn-default filter active" data-group="all">Июль</span>
        <span class="btn btn-default filter" data-group="nature">Июнь</span>
        <span class="btn btn-default filter" data-group="people">Май</span>
        <span class="btn btn-default filter" data-group="space">Апрель</span>
    </div>
    <div class="pull-right m-b-20">
        <div class="btn-group js-sort-options">
            <span class="btn btn-default sort active" data-sort-order="asc"><i class="fa fa-sort-numeric-asc"></i></span>
            <span class="btn btn-default sort" data-sort-order="desc"><i class="fa fa-sort-numeric-desc"></i></span>
        </div>
    </div>
</div>
<div class="row gallery shuffle" id="grid">
    <!-- ko foreach: addressReports -->
    <div class="col-sm-4 col-md-3 gallery-item shuffle-item filtered" data-groups="[&quot;nature&quot;]" data-title="Mountains">
        <div class="thumbnail">
            @*<a class="remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>*@
            <a class="link"><img data-bind="attr: { src: 'data:image/jpeg;base64,' + imageData() }" alt="..."></a>
            <div class="caption">
                <h5 class="mt-0 mb-xs" data-bind="text: imageName"></h5>
                <ul class="post-links">
                    <li><a>Дата : <span data-bind="text: reportDate"></span></a></li>
                    <li><a>Размер : <span data-bind="text: filesize(imageLength(), {base: 10, round: 0})"></span></a></li>
                </ul>
                <ul class="post-links" data-bind="visible: comment">
                    <li><a>Комментарий : </a><span data-bind="text : comment"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="col-sm-4 col-md-3 js-shuffle-sizer"></div>
</div>

<!-- /ko -->
