<ol class="breadcrumb">
    <li>CRM</li>
    <li>Категории видов деятельности</li>
    <li class="active">Добавление новой категории</li>
</ol>
<h1 class="page-title">Добавление новой категории</h1>
<section class="widget">
    <div class="widget-body">
        <form class="form-horizontal mrgtop24" role="form">
            <fieldset>
                <div class="form-group required">
                    <label for="activityCategoryName" class="col-sm-4 control-label">Название категории</label>
                    <div class="col-sm-6">
                        <input type="text" id="activityCategoryName" class="form-control" data-bind="value: activityCategoryName">
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-7">
                        <div class="btn-group btn-footer" role="group" aria-label="...">
                            <button type="submit" class="btn btn-success" data-bind="click: submit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>