<!-- ko with: clientsList -->
<ol class="breadcrumb">
    <li>ВЫ ЗДЕСЬ</li>
    <li class="active">Клиенты</li>
</ol>
<h1 class="page-title">Клиенты рекламной компании</h1>
<div class="mrgbtm24">
    <a href="/admin/#clients/create" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Добавить клиента</a>
</div>
<section class="widget">
    <header>
        @*<h4>
            Клиенты рекламной компании
        </h4>
        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>*@
    </header>
    <div class="widget-body">
        <table id="datatable-table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Компания</th>
                <th class="hidden-xs">Деятельность</th>
                <th class="hidden-xs">Ответственный</th>
                <th class="no-sort hidden-xs">Телефоны</th>
                <th class="no-sort hidden-xs">Email</th>
                <th class="">Логин</th>
                @*<th class="no-sort hidden-xs">Пароль</th>*@
                <th class="hidden-xs">Добавлен</th>
                <th class="">Статус</th>
                <th class="no-sort">Редактирование</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><span class="fw-semi-bold">ООО «Пряники и бублики»</span></td>
                <td class="hidden-xs">Пекарня\Продукты питания</td>
                <td class="hidden-xs">Пекарев Сухарь Кириллович</td>
                <td class="hidden-xs">
                    <span>79615553312</span><br/>
                    <span>2552255</span>
                </td>
                <td class="hidden-xs">cookie@mail.ru</td>
                <td>phenicka</td>
                @*<td class="hidden-xs">*********</td>*@
                <td class="hidden-xs">08 июня 2016</td>
                <td><span class="label label-success">Актуальный</span></td>
                <td class="actions">
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><span class="fw-semi-bold">ООО «Карат»</span></td>
                <td class="hidden-xs">Ювелирный\Алмазы</td>
                <td class="hidden-xs">Алмазов Рубин Семёнович</td>
                <td class="hidden-xs">
                    <span>89002686102</span>
                </td>
                <td class="hidden-xs">almaz@mail.ru</td>
                <td>almaz</td>
                @*<td class="hidden-xs">*********</td>*@
                <td class="hidden-xs">22 сентября 2016</td>
                <td><span class="label label- label-danger">Проблемный</span></td>
                <td class="actions">
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
            </tr>
            @*<tr>
            <td>1</td>
            <td><span class="fw-semi-bold">Algerd</span></td>
            <td class="hidden-xs">
                <small>
                    <span class="fw-semi-bold">Type:</span>
                    &nbsp; JPEG
                </small>
                <br>
                <small>
                    <span class="fw-semi-bold">Dimensions:</span>
                    &nbsp; 200x150
                </small>
            </td>
            <td class="hidden-xs"><a href="#">Palo Alto</a></td>
            <td class="hidden-xs">June 27, 2013</td>
            <td class="width-150">
                <div class="progress progress-sm mt-xs">
                    <div class="progress-bar progress-bar-success" style="width: 29%;"></div>
                </div>
            </td>
        </tr>*@
            </tbody>
        </table>
    </div>
</section>
<!-- /ko -->