<div data-bind="visible: isInitialized" style="display: none;">
    <ol class="breadcrumb">
        <li>CRM</li>
        <li class="active">Аналитика</li>
    </ol>
    <!--<h1 data-bind="text: status">ff</h1>-->

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-primary text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">КЛИЕНТОВ</h5>
                            <p class="h2 no-margin fw-normal" data-bind="text: clients"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Май, 2016</h5>
                            <p class="value4" data-bind="text: '+' + newClients()"></p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Отказов</h5>
                            <p class="value4">-1</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-info text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">ПОСЕЩЕНИЙ ЗА ДЕНЬ</h5>
                            <p class="h2 no-margin fw-normal">12 324</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Онлайн</h5>
                            <p class="value4">3</p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Bounce Rate</h5>
                            <p class="value4">217</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-gray text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-certificate"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">РЕКЛАМНЫХ ОБЪЕКТОВ</h5>
                            <p class="h2 no-margin fw-normal" data-bind="text: advertisingObjects"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Загружено отчётов</h5>
                            <p class="value4" data-bind="text: reports"></p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Advanced</h5>
                            <p class="value4">1,441</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-success text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">ПРИБЫЛЬ ЗА ГОД</h5>
                            <p class="h2 no-margin fw-normal">70 448 руб.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">За месяц</h5>
                            <p class="value4">8 541 руб.</p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">За неделю</h5>
                            <p class="value4">1 926 руб.</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h5>
                        Неоплаченные услуги
                    </h5>
                    <div class="widget-controls">
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <h3>7 200 руб.</h3>
                    <p class="fs-mini text-muted mb mt-sm">
                        ожидается к оплате клиентами:
                    </p>
                </div>
                <div class="widget-table-overflow">
                    <table class="table table-striped table-sm">
                        <thead class="no-bd">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Иванов Иван Иванович</td>
                                <td>ivanov.i.i</td>
                                <td>89008562154</td>
                                <td class="text-align-right fw-semi-bold">3 000 руб.</td>
                            </tr>
                            <tr>
                                <td>Сидоров Сидор Сидорович</td>
                                <td>sidorov.s.s</td>
                                <td>89286351247</td>
                                <td class="text-align-right fw-semi-bold">5 000 руб.</td>
                            </tr>
                            <tr>
                                <td>Петров Петр Петрович</td>
                                <td>petrov.p.p</td>
                                <td>89186543214</td>
                                <td class="text-align-right fw-semi-bold">2 200 руб.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="widget-body mt-xlg">
                    <div id="rickshaw" class="chart-overflow-bottom"></div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h5>
                        USERBASE GROWTH
                    </h5>
                    <div class="widget-controls">
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div class="stats-row">
                        <div class="stat-item">
                            <h6 class="name">Overall Growth</h6>
                            <p class="value">76.38%</p>
                        </div>
                        <div class="stat-item">
                            <h6 class="name">Montly</h6>
                            <p class="value">10.38%</p>
                        </div>
                        <div class="stat-item">
                            <h6 class="name">24h</h6>
                            <p class="value">3.38%</p>
                        </div>
                    </div>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        </div>
                    </div>
                    <p>
                        <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                        <span class="fw-semi-bold">17% higher</span>
                        than last month
                    </p>
                </div>
            </section>
        </div>
    </div>-->
</div>