<div data-bind="visible: isInitialized" style="display: none;">
    <ol class="breadcrumb">
        <li>CRM</li>
        <li class="active">Аналитика</li>
    </ol>
    <!--<h1 data-bind="text: status">ff</h1>-->

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-primary text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">КЛИЕНТОВ</h5>
                            <p class="h2 no-margin fw-normal" data-bind="text: clients"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Май, 2016</h5>
                            <p class="value4" data-bind="text: '+' + newClients()"></p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Отказов</h5>
                            <p class="value4">-1</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-info text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">ПОСЕЩЕНИЙ ЗА ДЕНЬ</h5>
                            <p class="h2 no-margin fw-normal">12 324</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Онлайн</h5>
                            <p class="value4">3</p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Bounce Rate</h5>
                            <p class="value4">217</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-gray text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="glyphicon glyphicon-certificate"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">РЕКЛАМНЫХ ОБЪЕКТОВ</h5>
                            <p class="h2 no-margin fw-normal" data-bind="text: advertisingObjects"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">Загружено отчётов</h5>
                            <p class="value4" data-bind="text: reports"></p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">Advanced</h5>
                            <p class="value4">1,441</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-6">
            <section class="widget bg-success text-white">
                <div class="widget-body clearfix">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="widget-icon">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-xs-9">
                            <h5 class="no-margin">ПРИБЫЛЬ ЗА ГОД</h5>
                            <p class="h2 no-margin fw-normal">70 448 руб.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="no-margin">За месяц</h5>
                            <p class="value4">8 541 руб.</p>
                        </div>
                        <!--<div class="col-xs-6">
                            <h5 class="no-margin">За неделю</h5>
                            <p class="value4">1 926 руб.</p>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h5>
                        По категориям деятельности
                    </h5>
                    <div class="widget-controls">
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div id="byActivityCategory" style="min-width: 410px; height: 400px; margin: 0 auto"></div>
                </div>
            </section>
        </div>        
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h5>
                        Воронка продаж
                    </h5>
                    <div class="widget-controls">
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div id="salesFunnel" style="min-width: 410px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                </div>
            </section>
        </div>
    </div>
</div>